<!doctype html>
<html amp>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <title>{{ .Site.Title }}</title>

    <meta name="title" content="{{.Site.Title}}" />
    <meta name="verify-v1" content="zaF1JNxc7UQaY6aOtg5/g3MYrxKOipO3XWaUNnhtBgQ=" />
    <meta name="google-site-verification" content="e4XcvLCkuMSwwudpCP7hG5oi7Odb9VJ4U9207IpyvBk" />

    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:image" content="{{ $.Site.Params.NewsImage }}" />

    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta name="twitter:image" content="{{ $.Site.Params.NewsImage }}" />
    
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    {{ partial "head/scripts.html" . }}

    {{ partial "head/fonts.html" . }}

    <style amp-custom>
      {{ readFile "static/style.css" | safeCSS }}
    </style>
  </head>